.gitconfig
/general/.config/Station/*
/general/.config/pulse/*
/general/.config/dconf/*
/general/.config/goa*/*
/general/.config/gtk*/*
/general/.config/GIMP/*
/general/.config/QtProject.conf
/general/.config/RadareOrg/*
/general/.config/libreoffice/*
/general/.config/VirtualBox/*
/general/.config/deluge/*
/general/.config/dunst/*
/general/.config/transmission/*
