[Desktop Entry]
Type=Application
Version=1.0
Name=Shift.app
Comment=Shift.appstartup script
Exec=/Applications/Shift.app
StartupNotify=false
Terminal=false