[Desktop Entry]
Type=Application
Version=1.0
Name=station.AppImage
Comment=station.AppImagestartup script
Exec=/home/hunter/station.AppImage
StartupNotify=false
Terminal=false